@model IEnumerable<RootFileReader.Models.Driver>

@{
    ViewData["Title"] = "Index";
}

<h3>Results</h3>


<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>
                        @item.DriverName: @item.IntDistanceDriven miles
                        @if (item.IntDistanceDriven <= 0) { }
                        else
                        {<span> at @item.AvgMPH mph</span>}

                    </p>
                </td>

            </tr>
        }
    </tbody>
</table>
